In [189]:
import pandas as pd

In [190]:
titanic_train = pd.read_csv("./data/titanic_train_preprocessed.csv")

In [191]:
from sklearn.model_selection import train_test_split

X = titanic_train.drop("Survived", axis=1)
Y = titanic_train["Survived"]

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [192]:
from sklearn.linear_model import LogisticRegression

logisticModel = LogisticRegression(penalty='l2', C=1.0, solver='liblinear').fit(x_train, y_train)

In [193]:
y_pred = logisticModel.predict(x_test)

In [194]:
pred_results = pd.DataFrame({
    'y_test': y_test,
    'y_pred': y_pred
})

pred_results.head()

     y_test  y_pred
448       0       0
665       1       0
127       1       1
405       0       0
196       1       1

In [195]:
titanic_crosstab = pd.crosstab(y_test, y_pred)
titanic_crosstab

col_0      0   1
Survived
0         83  15
1          9  36

In [196]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [197]:
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Precision:", precision_score(y_test, y_pred))
print("Recall:", recall_score(y_test, y_pred))

Accuracy: 0.8321678321678322
Precision: 0.7058823529411765
Recall: 0.8

In [198]:
TP = titanic_crosstab[1][1]
TN = titanic_crosstab[0][0]
FP = titanic_crosstab[0][1]
FN = titanic_crosstab[1][0]

In [199]:
accuracy_score_verified = (TP + TN) / (TP + TN + FP + FN)
accuracy_score_verified

0.8321678321678322

In [200]:
prediction_score_verified = TP / (TP + FN)
prediction_score_verified

0.7058823529411765

In [201]:
recall_score_verified = TP / (TP + FP)
recall_score_verified

0.8